::deep .file-drop-zone {
    position: relative;
    border: dashed 2px transparent;
    border-radius: 6px;
    transition: border linear 0.2s;
}

    ::deep .file-drop-zone.hover {
        border: dashed 2px var(--mud-palette-secondary);
    }

    ::deep .file-drop-zone::after {
        content: "Drop here";
        font-size: 24px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity ease 0.2s;
        pointer-events: none;
    }

    ::deep .file-drop-zone.hover::after {
        opacity: 0.8;
    }

.avatar-picture-inputfile-container {
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.selected-file-name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    border-bottom: solid 1px var(--mud-palette-lines-inputs);
    padding: 6px 0 6px 0;
}

.error .caption {
    color: var(--mud-palette-error);
}

.error .selected-file-name {
    border-bottom-color: var(--mud-palette-error);
}

.error .mud-input-helper-text {
    color: var(--mud-palette-error);
}
