<div @ref="_DropZoneElement" @attributes="Attributes">
    @ChildContent
</div>

@code
{
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? Attributes { get; set; }
}